extends ./layout/index.pug 
block compartircontenido
    // Masthead
    header.masthead
        .container.black-text
            .masthead-subheading Bienvenido
            .masthead-heading.text-uppercase Aquí podrá consultar la lista de gerentes registrados 
            a.btn.btn-primary.btn-xl.text-uppercase(href='#options') Comenzar
    
    //Opciones
    section#services.page-section
      #options.container.mt-5.justify-content-center
        h1.text-center.mt-5 #{pagina}  
        if gerentes                                   
            table#myTable.table-responsive.table.table-light.table-hovers
                thead
                    tr
                        th Nombre
                        th Apellido Paterno
                        th Apellido Materno
                        th Teléfono
                        th Hotel Asociado
                        th Acciones

                each gerente in gerentes
                    tbody
                        tr
                            td #{gerente.nombre}
                            td #{gerente.ap_paterno}
                            td #{gerente.ap_materno}
                            td #{gerente.telefono}
                            td #{gerente.hotele ? gerente.hotele.nombre : "Sin hotel asociado"}
                            td 
                                a.btn.btn-outline-warning(href=`/modificar_gerentes?id=${gerente.id_grt}`) Modificar
                                br 
                                a.btn.btn-outline-danger(href=`/eliminar_gerentes?id=${gerente.id_grt}`) Eliminar