extends ./layout/index.pug 
block compartircontenido
    // Masthead
    header.masthead
      .container.black-text
          .masthead-subheading Bienvenido
          .masthead-heading.text-uppercase Aquí podrá consultar la lista de habitaciones registrados 
          a.btn.btn-primary.btn-xl.text-uppercase(href='#options') Comenzar
    
    //Opciones
    section#services.page-section
      #options.container.mt-5.justify-content-center
          h1.text-center.mt-5 #{pagina}  
          if habitaciones                                    
              table#myTable.table-responsive.table.table-light.table-hovers
                  thead
                      tr
                          th Piso
                          th Nombre
                          th Refrigerador 
                          th Hotel Asociado
                          th Acciones

                  each habitacion in habitaciones
                      tbody
                          tr
                              td #{habitacion.piso}
                              td #{habitacion.nombre}
                              td #{habitacion.refrigerador ? "Sí" : "No"}
                              td #{habitacion.hotele.nombre}
                              td 
                                  a.btn.btn-outline-warning(href=`/modificar_habitaciones?id=${habitacion.id_hbt}`) Modificar
                                  br 
                                  a.btn.btn-outline-danger(href=`/eliminar_habitaciones?id=${habitacion.id_hbt}`) Eliminar