extends ./layout/index.pug 
block compartircontenido
    // Masthead
    header.masthead
        .container.black-text
            .masthead-subheading Bienvenido
            .masthead-heading.text-uppercase Aquí podrá consultar la lista de hoteles registrados 
            a.btn.btn-primary.btn-xl.text-uppercase(href='#options') Comenzar
    
    //Opciones
    section#services.page-section
      #options.container.mt-5.justify-content-center
        h1.text-center.mt-5 #{pagina}  
        if hoteles                                    
            table#myTable.table-responsive.table.table-light.table-hovers
                thead
                    tr
                        th Nombre
                        th Dirección
                        th Telefono 
                        th Correo
                        th Acciones

                each hotel in hoteles
                    tbody
                        tr
                            td #{hotel.nombre}
                            td #{hotel.direccion}
                            td #{hotel.telefono}
                            td #{hotel.correo}
                            td 
                                a.btn.btn-outline-warning(href=`/modificar_hoteles?id=${hotel.id_htl}`) Modificar
                                br 
                                a.btn.btn-outline-danger(href=`/eliminar_hoteles?id=${hotel.id_htl}`) Eliminar